<!DOCTYPE html>
<html lang="en">
<head>
    <title>WSO2 Coffee Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
<p class="navbar-text pull-right" id="navbar"><a id="username" href="login.html" class="navbar-link">Sign In</a></p>

<div class="row topr">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img style="margin-left: 30px;" src="images/CHM-Coffee-Mug.png"></div>
    <div class="col-md-4"></div>
</div>
<div class="row mtop">
</div>
<div class="row mid">
    <div id="cappuccino" class="col-md-2"><img style="padding-left: 20px" src="images/capachino.png"></div>
    <div class="col-md-2"><a href="#"><img src="images/americano.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/breve.png"></a></div>
    <div class="col-md-2"><a href="#"><img style="padding-left: 30px" src="images/espresso.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/latte.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/mocha.png"></a></div>
</div>
<div class="row mbot">
</div>
<div class="row">
</div>

</body>

</html>