<!DOCTYPE html>
<html lang="en">
<head>
    <title>WSO2 Coffee Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
<p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>

<div class="row topr">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img style="margin-left: 30px;" src="images/CHM-Coffee-Mug.png"></div>
    <div class="col-md-4"></div>
</div>
<div class="row mtop">
</div>
<div class="row mid">
    <div class="col-md-2"><a href="#"><img style="padding-left: 20px" src="images/capachino.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/americano.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/breve.png"></a></div>
    <div class="col-md-2"><a href="#"><img style="padding-left: 30px" src="images/espresso.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/latte.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="images/mocha.png"></a></div>
</div>
<div class="row mbot">
</div>
<div class="row">
</div>

</body>

</html>