<html>
<head>
    <title>WSO2 Coffee Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/login.js"></script>
</head>

<body>

<div class="row topr">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img style="margin-left: 30px;" src="images/CHM-Coffee-Mug.png"></div>
    <div class="col-md-4"></div>
</div>
<div class="row mtop">
</div>
<div class="row mid">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form id="loginForm" role="form">
            <div class="form-group">
                <label for="usernameLabel">Username</label>
                <input type="text" class="form-control" id="usernameLabel" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="passwordLabel">Password</label>
                <input type="password" class="form-control" id="passwordLabel" placeholder="Password">
            </div>
            <input type="button" id="loginbut" class="btn btn-default" value="Login"/>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row mbot">
</div>
<div class="row">
</div>
</body>
</html>