<html>
<body>
<script src="../lib/jquery.min.js"></script>

<style type="text/css">
#flotcontainer {
    width: 800px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}
</style>


<script>
var data = [];
var dataset;
var totalPoints = 50;
var updateInterval = 250;

function initData() {
    var paper = document.getElementById("tree");
	var context = paper.getContext("2d");
	context.fillStyle = "#0066CC";
	//create rectangle
	context.fillRect(10,10, 530, 700);
	setInterval(redraw, 1000);
}

function drawCircle(context,x, y, color){
	context.strokeStyle = color;
	context.fillStyle = color;
	context.beginPath();
	context.arc(x,y,5,0,Math.PI*2,true);
	context.closePath();
	context.stroke();
	context.fill();
	
}

function drawSale(context,price, type, orderTime){
	var color; 
	
	switch(type){
		case 0:
			color =  "#af897c";
			break;
		case 1:
			color =  "#80c275";
			break;
		case 2:
			color =  "#f37321";
			break;
		case 3:
			color =  "#c22e13";
			break;
		case 4:
			color =  "#cef8fb";
			break;
		case 5:
			color =  "#00000";
			break;
	}
	drawCircle(context, price*510/10 +10, orderTime*680/300 + 10, color);
}

function updateData(list) {
	var paper = document.getElementById("tree");
	var context = paper.getContext("2d");

	for (var i=0;i<list.length;i++){
		var d = list[i];
		drawSale(context, d.price, d.type, d.orderTime);
	}
}

 function redraw() {
        $.get("http://localhost:9763/wso2coffeeshop/modules/cofeesalesRealTime.jag", function(input, status) {
          if (input === "_NODATA_") { return; }
          if (input === "_AUTH_FAILURE_") {
              alert("Authentication Failure!");
              window.location.href = "login.jag";
          } else {
              var data = JSON.parse(input);
              updateData(data);
              //$.plot($("#flotcontainer"), dataset, options)
              //setTimeout(update, updateInterval);
          }
        });    
    }



$(document).ready(function () {
    initData();
});
</script>

<table>
<tr><td>
<canvas id="tree" width="500" height="500">
Please stop using IE8 and upgrade, already.
</canvas>
</td></tr>
<tr><td>
<table>
<tr><td>latte</td><td bgcolor="#af897c" width="10"></td></tr>
<tr><td>americano</td><td bgcolor="#80c275" width="10"></td></tr>
<tr><td>cappuccino</td><td bgcolor="#f37321" width="10"></td></tr>
<tr><td>macchiato</td><td bgcolor="#c22e13" width="10"></td></tr>
<tr><td>mocha</td><td bgcolor="#cef8fb" width="10"></td></tr>
<tr><td>espresso</td><td bgcolor="#00000" width="10"></td></tr>
</td></tr>
</table>


</body>

</body>
</html>
