.mid {
    background-color: #01657d;
    vertical-align: middle;
    color: #FFF;

}
.mtop{
    background-color: #01657d;
    height: 25px;
}

.mbot{
    background-color: #01657d;
    height: 10px;


}
.modal-body{
    background-color: #01657d;
}

.topr {
    height: 300px;
}

.rwhite {
    color: #FFFFFF;
}
.paybtn{
    left: 100px;
    position: absolute;
    top: 90px;
}

.labelx{

    color: #FFFFFF;
    display: inline;
    font-size: 90%;
    font-weight: bold;
    line-height: 1;
    padding: 0.6em 3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    left: 100px;
    position: absolute;
    top: 70px;

}

.rx{
    border-top: 5px solid #FFFFFF;
}
